{% extends "Registro/base.html" %}

{% block title%}Home{%endblock%}

{%block background%}{%load static%}{% static 'Registro/img/home-bg.jpg' %}{%endblock%}

{%block headers%}
<h1>Cumpleaños</h1>
<body>
    <div id="countdown" style="display: flex; justify-content: center; align-items: center; gap: 20px;">
        <div>
            <span id="days" style="display: block; text-align: center; font-size: 24px;"></span>
            <div style="text-align: center;">Days</div>
        </div>
        <div>
            <span id="hours" style="display: block; text-align: center; font-size: 24px;"></span>
            <div style="text-align: center;">Hours</div>
        </div>
        <div>
            <span id="minutes" style="display: block; text-align: center; font-size: 24px;"></span>
            <div style="text-align: center;">Minutes</div>
        </div>
        <div>
            <span id="seconds" style="display: block; text-align: center; font-size: 24px;"></span>
            <div style="text-align: center;">Seconds</div>
        </div>
    </div>

    <script>
        // Set the date we're counting down to
        const countDownDate = new Date('September 20, 2024 00:00:00').getTime();

        // Update the countdown every 1 second
        const x = setInterval(function() {
            // Get today's date and time
            const now = new Date().getTime();
            
            // Find the distance between now and the countdown date
            const distance = countDownDate - now;
            
            // Calculations for days, hours, minutes and seconds
            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
            // Display the result in the elements
            document.getElementById('days').innerText = days;
            document.getElementById('hours').innerText = hours;
            document.getElementById('minutes').innerText = minutes;
            document.getElementById('seconds').innerText = seconds;
            
            // If the countdown is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById('countdown').innerHTML = '<h2>¡Ya ha llegado!</h2>';
            }
        }, 1000);
    </script>
</body>
{%endblock%}

<!-- Contenido -->

{% block content %}

    <h1>Cómo llegar</h1>
        <body>
            <img class="responsive-image" src="{% static 'Registro/img/mapa_.png' %}" alt="Descripción de la imagen">
            <div class="body-center">
                <p><a href="https://maps.app.goo.gl/5tMT9ofJWXEE9RCV7" target="_blank">Abrir en Google Maps</a></p>
            </div>
        </body>
        <br> </br>
    <h1>Apuntate!</h1>
        <body>
            <form method="post" enctype="multipart/form-data">  <!-- Añade enctype -->
                {% csrf_token %}
                {{ form.as_p }}  <!-- Renderiza el formulario aquí -->
                <button type="submit">Enviar</button>
            </form>
        </body>
    <br> </br>

    <h1><a href="https://open.spotify.com/playlist/10A3FdLk1kKBzw6aqf8M5Z?si=166d0df01c1645c5" target="_blank" style="color: #1DB954; text-decoration: none;">Añade a la Playlist</a></h1>
    <br> </br>

    <h1><a href="https://www.wedshoots.com/" target="_blank" style="color: #E1306C; text-decoration: none;">Descarga la App de fotos</a></h1>
    <br> </br>

    {% endblock %}